<!-- Spinner -->
<div class="spinner">
	<div class="spinner_wrapper">
		<div class="spinner_folding_cube">
			<div class="spinner_cube1 spinner_cube"></div>
			<div class="spinner_cube2 spinner_cube"></div>
			<div class="spinner_cube4 spinner_cube"></div>
			<div class="spinner_cube3 spinner_cube"></div>
		</div>
	</div>
</div>

<!-- Page wrapper -->
<div class="wrapper">

	<!-- Header -->
	<header class="uk-small-hidden header">
		<nav class="uk-navbar header-nav">
			<div class="uk-container uk-container-center">
				<a class="uk-navbar-brand logo_link">
					<img class="uk-responsive-height logo" src="../assets/img/logo.png" alt="">
				</a>
				<div class="uk-navbar-flip uk-visible-large">
					<ul class="uk-navbar-nav header-nav-list">
						<li class="header_nav_list_item">
							<a data-ng-click="scrollNav($event)" class="link_beagiver header_nav_list_item_link" href="#">Be a Giver</a>
						</li>
						<li class="header_nav_list_item">
							<a data-ng-click="scrollNav($event)" class="link_features header_nav_list_item_link" href="#">Features</a>
						</li>
						<li class="header_nav_list_item">
							<a data-ng-click="scrollNav($event)" class="link_offer header_nav_list_item_link" href="#">Offer</a>
						</li>
						<li class="header_nav_list_item">
							<a data-ng-click="scrollNav($event)" class="link_pricing header_nav_list_item_link" href="#">Pricing</a>
						</li>
						<li class="header_nav_list_item">
							<a data-ng-click="scrollNav($event)" class="link_clients header_nav_list_item_link" href="#">Clients</a>
						</li>
						<li class="header_nav_list_item">
							<a data-ng-click="scrollNav($event)" class="link_facts header_nav_list_item_link" href="#">Statistics</a>
						</li>
						<li class="header_nav_list_item">
							<a data-ng-click="scrollNav($event)" class="link_projects header_nav_list_item_link" href="#">Projects</a>
						</li>
						<li class="header_nav_list_item">
							<a data-ng-click="scrollNav($event)" class="link_team header_nav_list_item_link" href="#">Team</a>
						</li>
						<li class="header_nav_list_item">
							<a data-ng-click="scrollNav($event)" class="link_customers header_nav_list_item_link" href="#">Customers</a>
						</li>
					</ul>
				</div>
				<div class="uk-navbar-flip uk-hidden-large header_navbar_mobile_block">
					<div data-ng-click="toggleMobileNav($event)" class="uk-navbar-toggle header_navbar_mobile"></div>
				</div>
			</div>
		</nav>
	</header>

	<!-- Text container -->
	<section class="uk-height-viewport uk-cover-background uk-position-relative uk-flex uk-flex-middle uk-overflow-hidden grey_overlay container">

		<!-- Video background -->
		<div class="video_wrapper">
			<video id="video" class="video" autoplay="autoplay" loop="loop" muted="muted">
				<source src="../assets/video/BeAGiver.mp4" type="video/mp4" muted="muted" controls>
			</video>
		</div>

		<div data-ng-click="scrollNav($event)" class="uk-icon-angle-down container_arrow"></div>
	</section>

	<section class="be_a_giver">
		<div class="uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">
			<h3 class="uk-h3 uk-margin-bottom uk-margin-top animated section_title elements_title">Be a Giver</h3>
			<h4 class="uk-h4 uk-margin-large-bottom animated section_subtitle">Sign up today to find out more</h4>
			<div class="uk-grid">
				<div class="uk-width-small-1-2">
					<form " class=" uk-form" autocomplete="off">
						<div class="uk-grid uk-container-center uk-width-medium-2-3 uk-width-large-1-2 uk-margin-bottom">
							<div class="uk-width-small-1-2 uk-margin-bottom">
								<input name="name" class="uk-width-1-1 uk-form-width-large form_input" type="text" placeholder="Name" ng-model="giverName">
							</div>
							<div class="uk-width-small-1-2 uk-margin-bottom">
								<input name="email" class="uk-width-1-1 form_input uk-form-width-large" type="text" placeholder="E-mail"
								 ng-model="giverEmail">
							</div>
							<div class="uk-margin-bottom uk-width-1-1">
								<input name="message" class="uk-width-1-1 uk-form-width-large form_input" placeholder="Country" ng-model="giverCountry">
							</div>
							<div class="uk-margin-bottom uk-width-1-1">
								<button class="uk-button button_custom_green uk-width-1-1 form_button" type="submit" ng-click="submitGiver()">Send
									message</button>
							</div>
						</div>
					</form>
				</div>
				<div class="uk-width-small-1-2 uk-margin-bottom">
					<img src="../assets/img/giver_logo.png" class="uk-margin-bottom" style="height:100%;width:100%">
				</div>
			</div>


		</div>
	</section>

	<!-- Statistic -->
	<section class="statistic section" id="statistic" style="background-color: lightpink">
		<div class="uk-container uk-container-center uk-text-contrast uk-position-relative uk-text-center" data-uk-scrollspy="{cls:'select uk-active'}">
			<h3 class="uk-h3 uk-text-contrast animated section_title statistic_title">Marathon Statistics</h3>
			<h4 class="uk-h4 uk-text-contrast uk-margin-large-bottom animated section_subtitle">Updated in real time</h4>
			<div class="statistic_wrapper">
				<div class="uk-grid uk-grid-large">
					<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
						<div class="uk-margin-large-bottom statistic_block">
							<div class="statistic_caption">
								<span class="statistic_counter" id="statistic_counter_1">0</span>
							</div>
							<div class="statistic_text">Books Distributed</div>
						</div>
					</div>
					<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
						<div class="uk-margin-large-bottom statistic_block">
							<div class="statistic_caption">
								<span class="statistic_counter" id="statistic_counter_2">{{users.length}}</span>
							</div>
							<div class="statistic_text">Temples Participating</div>
						</div>
					</div>
					<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
						<div class="uk-margin-large-bottom statistic_block">
							<div class="statistic_caption">
								<span class="statistic_counter" id="statistic_counter_3">{{givers.length}}</span>
							</div>
							<div class="statistic_text">Givers</div>
						</div>
					</div>
					<div class="uk-width-large-1-4 uk-width-small-1-2 animated">
						<div class="uk-margin-large-bottom statistic_block">
							<div class="statistic_caption">
								<span class="statistic_counter" id="statistic_counter_4">{{daysLeft()}}</span>
							</div>
							<div class="statistic_text">Days Left</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">
			<h3 class="uk-h3 uk-margin-bottom uk-margin-top animated section_title elements_title">Map of Givers</h3>
			<h4 class="uk-h4 uk-margin-bottom animated section_subtitle">Explore the map global reach of #BeAGiver via the real time map of givers all around the world</h4>
		</div>
	</section>

	<div id="mapid"></div>


	<!-- Footer -->
	<footer class="footer">
		<div class="uk-container uk-container-center uk-text-center">
			<ul class="uk-list social_list">
				<li class="social_list_item">
					<a class="uk-icon-facebook social_list_item_link" href="#"></a>
				</li>
				<!-- <li class="social_list_item">
					<a class="uk-icon-twitter social_list_item_link" href="#"></a>
				</li>
				<li class="social_list_item">
					<a class="uk-icon-google-plus social_list_item_link" href="#"></a>
				</li>
				<li class="social_list_item">
					<a class="uk-icon-linkedin social_list_item_link" href="#"></a> -->
				</li>
				<li class="social_list_item">
					<a class="uk-icon-instagram social_list_item_link" href="#"></a>
				</li>
				<!-- <li class="social_list_item">
					<a class="uk-icon-dribbble social_list_item_link" href="#"></a>
				</li> -->
				<li class="social_list_item">
					<a class="uk-icon-youtube social_list_item_link" href="#"></a>
				</li>
			</ul>
			<div class="footer_message">In the service of: His Divine Grace A.C. Bhaktivedanta Swami Prabhupada Founder-Acarya
				of the International Society for Krishna Consciousness.</div>
			<div class="footer_message">© 2018 All Rights Reserved</div>
		</div>
	</footer>

	<!-- Scroll arrow -->
	<div data-ng-click="scrollTop()" class="scroll_top"></div>

</div>

<!-- Mobile menu -->
<div id="mobile_nav" class="uk-offcanvas">
	<div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
		<ul class="uk-nav uk-nav-offcanvas">
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_beagiver" href="#">Be a Giver</a>
			</li>
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_features" href="#">Features</a>
			</li>
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_offer" href="#">Offer</a>
			</li>
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_pricing" href="#">Pricing</a>
			</li>
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_clients" href="#">Clients</a>
			</li>
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_facts" href="#">Statistics</a>
			</li>
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_projects" href="#">Projects</a>
			</li>
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_team" href="#">Team</a>
			</li>
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_customers" href="#">Customers</a>
			</li>
		</ul>
	</div>
</div>