


<!-- home ================================================== -->




<section id="home" class="s-home target-section" data-parallax="scroll">

    <header>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" controls>
            <source src="../assets/video/BeAGiver.mp4" type="video/mp4">
        </video>
    </header>

    <div class="overlay"></div>
    <div class="shadow-overlay"></div>


    <ul class="home-social">
        <li>
            <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i><span>Facebook</span></a>
        </li>
        <li>
            <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i><span>Instagram</span></a>
        </li>
        <li>
            <a href="#0"><i class="fa fa-youtube" aria-hidden="true"></i><span>YouTube</span></a>
        </li>
    </ul>
    <!-- end home-social -->

</section> <!-- end s-home -->

<!-- about
        ================================================== -->
<section id="beagiver" class="beagiver">
    <div class="row section-header has-bottom-sep" >
        <div class="col-full">
            <h3 class="subhead subhead--dark">Hare Krishna</h3>
            <h1 class="display-1 display-1--light">#BeAGiver</h1>
        </div>
    </div> <!-- end section-header -->

    <div class="container">
        <div class="row">
            <div class="col-full">
                <p class="beagiver-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt. </p>
            </div>
        <div class="row">
            <div class="col-4">
                <img src="../assets/img/giver_logo.png" style="width:100%; height: 100%">
            </div>
            <div class="col-8">
                <form>
                    <div class="form-group">
                        <label for="name">
                            Name
                        </label>
                        <input type="text" ng-model="giverName" class="form-control" style="width:390px;">
                    </div>
                    <div class="form-group">
                        <label for="name">
                            Email
                        </label>
                        <input type="email" ng-model="giverEmail" class="form-control"  style="width:100%">
                    </div>
                    <div class="form-group">
                        <label for="name">
                            Country
                        </label>
                        <input type="text" ng-model="giverCountry" class="form-control"  style="width:100%">
                    </div>
                    <button type="button" class="btn btn-primary btn-block" ng-click="submitGiver()">Submit</button>
                </form>
            </div>
        </div>
    </div>


</section>


<section id='services' class="s-services">

        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Giver Map</h3>
                <!-- <h1 class="display-2">See the global reach of our campaign</h1> -->
            </div>
        </div> <!-- end section-header -->
    
        <div id="mapid">
    
        </div>
    
    
    </section> <!-- end s-services -->

<!-- services
    ================================================== -->
<section id='social' class="s-services">

    <div class="row section-header has-bottom-sep" data-aos="fade-up">
        <div class="col-full">
            <h3 class="subhead">Social</h3>
            <!-- <h1 class="display-2">See the global reach of our campaign</h1> -->
        </div>
    </div> <!-- end section-header -->

    <div id="curator-feed"></div>

</section> <!-- end s-services -->




<!-- contact
    ================================================== -->
<section id="contact" class="s-contact">

    <div class="overlay"></div>

    <div class="row section-header" data-aos="fade-up">
        <div class="col-full">
            <h3 class="subhead">Contact Us</h3>
            <h1 class="display-2 display-2--light">Sign up today to submit your book scores!</h1>

            <p>Please reach out to info@bbtbooks.com to sign up as a temple</p>
        </div>
    </div>

</section> <!-- end s-contact -->


<!-- footer
    ================================================== -->
<footer  style="background:grey">

    <div class="row footer-bottom">

        <div class="col-twelve">
            <div class="copyright">
                <span>© Copyright BBT Prabhupada Marathon 2018</span>
                <span>In the service of: His Divine Grace A.C. Bhaktivedanta Swami Prabhupada Founder-Acarya of the International Society for Krishna Consciousness.</a></span>
            </div>

            <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up" aria-hidden="true"></i></a>
            </div>
        </div>

    </div> <!-- end footer-bottom -->

</footer> <!-- end footer -->


<!-- photoswipe background
    ================================================== -->
<div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">

        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button> <button class="pswp__button pswp__button--fs"
                    title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>

    </div>

</div> 