<section id="beagiver" class="login" style="padding-top: 300px;">
    <div class="row section-header ">
        <div class="col-full">
            <h3 class="subhead subhead--dark">Login</h3>
        </div>

        <div class="row">
            <div class="col-full">
                <form class="login-desc">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="email" style="margin: 0px auto; width:400px;" ng-model="username">
                    </div>
                    <div class="form-group" style="padding-bottom: 25px;">
                        <input type="password" class="form-control" placeholder="password" style="margin: 0px auto; width:400px;" ng-model="password">
                    </div>

                    <button class="btn btn-primary btn-block" ng-click="doLogin();">Login</button>
                </form>
            </div>


         <div class="alert alert-danger"></div>

        </div>
    </div> <!-- end section-header -->


</section>